
#content{
  position:relative;
  float:right;
}
#sidebar{
  position:fixed;
  z-index:1000;
  opacity:0.8;
  float:left;
}
#category_selector{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 306px; /* account for borders */
  width: 200px;
  list-style-type: none;
}
.category{
  border-color: green;
  border-style: solid;
  border-width:1;
  text-align:center;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: auto;
  line-height: 100px;
  font-weight: bold;
  border: 1px solid white;
  opacity:.7;
}
/*.category_icon{
  background-color:green;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
  height:95px;
  width:95px;
}*/
